html,
* {
	box-sizing: border-box;
  }
body {
	padding: 0;
	margin: 0;
	
}
#myVideo {
	z-index: -1;
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
  }

.main-wrapper {
	margin: 30px auto 0;
	width: 1080px;
	text-align: center;
}

.main-title {
	font-family: 'Brush Script MT', cursive;
	text-align: center;
	font-size: 3.2em;
	color: #e60606;
	text-shadow: 1px 1px 1px #5a0b0d;
}

.drum-kit-wrapper {
	position: relative;
	width: 600px;
	margin: -100px auto 0;
}

.drum-kit {
	width: 100%;
	height: 420px;
	top: 100px;
	position: relative;
}

.key {
	font-family: Georgia, serif;
	display: inline-block;
	transition: all ease-in-out .042s;
	position: absolute;
	background: #0c0404;
    font-size: 1.5em;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 4px;
    border: 3px solid #aaa;
    color: rgb(250, 244, 244);
    box-shadow: 1px 1px 1px rgba(0,0,0,.65);
    z-index: 2;
}

.key.kick {
	top: 375px;
    right: 200px;
}

.key.kick2 {
    top: 375px;
    right: 378px;
}

.key.snare {
	right: 165px;
    top: 230px;
}

.key.tom-high {
	right: 250px;
    top: 220px;
}

.key.tom-mid {
	left: 222px;
    top: 220px;
}

.key.tom-low {
	top: 290px;
    left: 153px;
}

.key.crash {
	top: 210px;
    left: 125px;
}

.key.ride {
	left: 125px;
    top: 127px;
}

.key.hihat-open {
	right: 140px;
    top: 130px;
}

.key.hihat-close {
	right: 60px;
    top: 180px;
}

.playing {
	transform: scale(1.12);
}
































